h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
  font-family: 'Famcare Medium', sans-serif;
}

body {
  direction: rtl;
  text-align: right;
  font-family: 'Famcare Regular';
}

body {
  direction: rtl;
}

img {
  width: 100%;
}

.navbar {
  height: 109px;
  background: #7D7BFA !important;
}

.navbar-brand__box {
  width: 153px;
}

.navbar-brand__box img {
  width: 100%;
}

.navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #fff !important;
}

.navbar .btn {
  border-radius: 12px !important;
}

.hero {
  height: 789px;
  background: #7D7BFA;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: url(images/hero-mask.svg) no-repeat center center;
}

.hero h1 {
  font-size: 63px;
  margin-top: 64px !important;
}

.hero-description {
  width: 694px;
  font-size: 17px;
  line-height: 32px;
  margin-top: 32px;
}

.hero .share-buttons {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .share-buttons a.share-buttons__item {
  margin-left: 20px;
  height: 61px;
}

.hero .share-buttons .share-buttons__item img {
  height: 100%;
}

.hero .mobile-group {
  margin-top: 64px;
  height: 570px;
  margin-bottom: -285px;
  z-index: 2;
}

.hero .mobile-group img {
  height: 100%;
}

/* =========== Media Queries =========== */
@media (max-width: 480px) {
  .hero {
    // height: 500px;
    height: 737px;
  }

  .hero h1 {
    font-size: 24px !important;
    margin-top: 48px;
  }

  .hero .hero-bg {
    display: nonef;
  }

  .hero .hero-description {
    width: 342px;
    font-size: 12px;
    font-family: 'Famcare Medium';
    line-height: 24px;
    margin-top: 18px !important;

  }

  .hero .share-buttons {
    flex-direction: column;
  }

  .hero .share-buttons a.share-buttons__item {
    margin-left: 0;
    height: 72px !important;
  }

  .hero .share-buttons a.share-buttons__item:first-child {
    margin-bottom: 8px !important;
  }

  .hero .mobile-group {
    margin-top: 64px;
    height: 253px;
    margin-bottom: -38.5px;
  }
}