html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Famcare Bold';
  src: url('fonts/Famtree-Bold.otf') format("truetype");
}

@font-face {
  font-family: 'Famcare Medium';
  src: url('fonts/Famtree-Medium.otf') format("truetype");
}

@font-face {
  font-family: 'Famcare Regular';
  src: url('fonts/Famtree-Regular.otf') format("truetype");
}

@font-face {
  font-family: 'Famcare Light';
  src: url('fonts/Famtree-Light.otf') format("truetype");
}

body {
  direction: rtl;
  text-align: right;
  font-family: 'Famcare Regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
  font-family: 'Famcare Medium', sans-serif;
}

/* Resets */
.btn-primary {
  background-color: #7d7bfa;
  transition: opacity .3s ease-in;
}

.btn-primary:hover {
  background-color: #7d7bfa;
  opacity: .8;
}

.featured-blog {
  position: relative;
}

.featured-blog::before {
  position: absolute;
  content: '';
  width: 168px;
  height: 599px;
  right: 0;
  background-color: #7d7bfa;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  z-index: 2;
}

.featured-blog .swiper-wrapper {
  position: relative;
}

.featured-blog .swiper-pagination {
  position: absolute;
  bottom: 0;
  right: 0 !important;
}

.featured-blog .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7d7bfa !important;
  margin-right: 0;
}

.featured-blog__content {
  margin-right: 288px;
}

.featured-blog__content-meta {
  display: flex;
  margin-bottom: 24px;
  font-family: 'Famcare Medium';
  font-size: 12px;
  line-height: 17px;
}

.featured-blog__content .date {
  margin-left: 33px;
}

.featured-blog__title {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-family: 'Famcare Medium';
}

.featured-blog__excerpt {
  font-size: 17px;
  margin-bottom: 64px;
}

.featured-blog__actions-button .btn {
  border-radius: .75rem;
}

.featured-blog .featured-blog__image {
  width: 100%;
  height: 599px;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  overflow: hidden;
}

.featured-blog .featured-blog__image img {
  width: 100%;
  height: 100%;
}

/* Blog post */
.blog-post__author {
  display: flex;
}

.featured-blog .blog-post__author {
  margin-bottom: 63px !important;
}

.blog-post__author-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.blog-post__author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-post__author-name {
  font-family: 'Famcare Medium';
  font-size: 15px;
  margin-bottom: 0.25rem;
}

.blog-post__author-specialization {
  font-size: 12px;
}

.featured-blog__actions-share-icons img {
  width: 2rem;
  height: 2rem;
}

.featured-blog__actions-share-button .btn {
  background-color: #7d7bfa;
}

/* Blog posts */
.blog-posts__search {
  display: flex;
  justify-content: space-between;
}

.blog-posts .card-img {
  height: 225px;
  border-radius: 1rem;
  margin-left: 12px;
}

.blog-posts form {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.blog-posts form input {
  border: 1px solid #9a98b3 !important;
  height: 48px;
  margin-left: 32px;
}

.blog-posts select {
  border-color: #9a98b3;
  margin-left: 32px;
}

.blog-posts button {
  height: 48px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.blog-posts .row {
  margin-top: 64px;
}

.blog-posts .blog-posts__meta {
  line-height: 24px;
  display: flex;
  font-family: 'Famcare Medium';
  font-size: 12px;
  color: #9a98b3;
}

.blog-posts .blog-posts__meta span.date {
  margin-left: 33px;
}

.blog-posts .card-title {
  font-size: 17px;
  color: #3a3855;
  line-height: 24px;
  margin-bottom: 12px;
}

.card-footer {
  margin-top: 17px;
}

.swiper-pagination-bullet {
  width: 200px !important;
  height: 200px !important;
  background-color: orange;
}

@media screen and (max-width: 480px) {
  .featured-blog__content {
    margin-right: 0;
    margin-top: -50px;
    background-color: red;
    border-radius: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    z-index: 3;
  }

  .featured-blog::before {
    display: none;
  }

  .featured-blog .featured-blog__image {
    width: 100%;
    border-radius: 0 !important;
    height: 210px;
  }
}